@media only screen and (min-width: 993px) {

  .row .col.l6 {
      width: 48%;
      margin: 0 1% 2%;
  }

  .row .col {
      padding: 0;
      img {
        border-radius: 2px;
      }
  }
}
 @media only screen and (max-width: 420px) {
}
