ul.tabs {
  flex-direction: column;
  height: 100%;
  float: left;
  width: 100%;
  & .indicator {
    display: none;
  }
}

.tabs .tab {
  height: 100% !important;
  a {
    color: $brand-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $brand-color;
    padding: 1em;
    transition: .3s ease;
  }
  a:hover {
    color: $brand-color-light;
  }
  a.active {
    text-decoration: underline;
    color: $brand-color-dark;
    background-color: #00b3b436;
  }
  img {
    height: 60px;
    width: auto;
    padding-top: 0;
  }
}

.course-detail {
  flex-direction: column;
  width: 100%;
}
