// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  background-color: $brand-color !important;
  &:hover {
  background-color: $brand-color-light !important;
  }
}

.apply {
    float: right;
    margin-top: 20px;
}
