/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

h1.title {
  font-weight: 100  !important
}
p.subtitle {
  font-weight: 100  !important
}
